.element {
  transition: background-color 0.15s;
  padding: 8px 12px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease;
  @apply text-menu-text;
  &:hover {
    background-color: rgba(58, 57, 57, 0.7);
  }

  .title {
    @apply flex justify-between items-center cursor-pointer;

    span {
      a {
        @apply flex items-start gap-1 text-lg w-full;

        .icon {
          @apply size-6;
        }
      }
    }

    .toggle {
      transition: all 0.3s ease;
    }
  }

  .content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    @apply cursor-pointer;
  }

  &:last-child {
    margin-top: auto;
  }

  &.open {
    > .title {
      span {
        a {
          .icon {
          }
        }
      }

      .toggle {
        @apply rotate-180;
      }
    }

    > .content {
      padding-top: 0.25em;
      height: auto;
      overflow: visible;
    }
  }
}
