.element {
  transition: background-color 0.15s;
  padding: 8px 12px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease;
  @apply text-menu-text;

  .title {
    @apply flex justify-between items-center cursor-pointer;
    span {
      transition: all 0.3s ease;
      a {
        @apply flex items-center gap-1 text-[18px] w-full;
        .icon {
          @apply size-5;
        }
      }
      &:hover {
        @apply text-blue;
      }
    }

    .toggle {
      transition: all 0.3s ease;
    }
  }

  .content {
    padding-top: 0.25em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    @apply cursor-pointer;

    .element {
      white-space: nowrap;
      .title {
        transition: all 0.3s ease;
        @apply text-sm py-1 px-1 rounded-[4px];
        span {
          a {
            @apply text-base;

            .icon {
              @apply size-5;
            }
          }
        }
      }
    }
  }

  &:last-child {
    margin-top: auto;
  }

  .toogle-hidden {
    display: none;
  }

  &.open {
    background-color: rgba(32, 31, 31, 0.7);

    > .title {
      span {
        a {
          .icon {
          }
        }
      }

      .toggle {
        @apply rotate-180;
      }
    }

    > .content {
      padding-top: 0.25em;
      max-height: 600px;
      transition: max-height 0.3s ease;
    }
  }
}
