.layout {
  transition: all 0.3s;
  display: grid;
  grid-template-rows: 70px 1fr;
  min-height: 100vh;

  grid-template-areas:
    'sidebar navbar'
    'sidebar content';

  .toggle-box {
    transition: all 0.3s ease;
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    @apply items-center justify-center;

    .toggle {
      transition: all 0.3s ease;
      @apply size-7 cursor-pointer rotate-90;
    }
  }
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  padding: 20px 20px 0px 40px;
  grid-area: content;
}

.chat-page-content {
  padding: 0px 0px 0px 40px;
}
