.row {
  @apply w-full border-2 border-solid transition-all border-border grid rounded-md py-1.5 bg-primary;
  grid-template-columns: 25% 25% 20% 20% 4%;

  .elemenet {
    @apply px-2.5 flex items-center gap-2;

    .title {
      @apply transition-all text-[17px] w-full;
    }

    .icon {
      @apply size-5 text-menu-text transition-all cursor-pointer hover:text-text;
    }

    .actions {
      @apply flex items-center gap-1;
    }

    .delete {
      @apply size-5 text-red-text cursor-pointer transition-all;
      opacity: 0;
      visibility: hidden;
    }
  }

  &:hover {
    @apply bg-accent-gray2/20;
    .elemenet {
      .delete {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.completed {
  @apply border-green opacity-75;

  .elemenet {
    .title {
      @apply line-through;
    }
  }
}

.dragging {
  scale: (0.99);
}
