.container {
  @apply relative;
  .content {
    .initials {
      @apply flex justify-center items-center font-[500] text-text w-full bg-border/80 rounded-full;
    }
    .image {
      @apply w-0;
    }

    .actions {
      @apply absolute bottom-[-10px] w-full flex justify-between;
      .icon {
        @apply size-5 text-menu-text cursor-pointer transition-all;
        transform: translateY(3px);
        opacity: 0;
        visibility: hidden;
      }

      .upload {
        @apply text-light-blue;

        &:hover {
          @apply text-light-blue/80;
        }
      }

      .delete {
        @apply text-light-red;
        &:hover {
          @apply text-light-red/60;
        }
      }
    }

    &:hover .actions .icon {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
