.container {
  @apply bg-border/30 rounded-lg p-2 relative;

  .content {
    @apply flex flex-col gap-2;
    .comment {
      @apply flex items-start gap-2 rounded-lg bg-accent-gray2 w-fit px-1 py-0.5;
    }
  }

  .comment-input {
    @apply absolute;

    .label {
      @apply w-full bg-primary py-1 px-2 relative;

      .input {
        @apply w-full;
      }

      .icon {
        @apply size-4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
