.notification {
  @apply rounded-md  p-2 flex flex-col;

  .group {
    @apply flex gap-2;
    .left-side {
      .picture {
        @apply w-[50px] h-[50px] bg-blue/60 rounded-lg flex justify-center items-center;
        .icon {
          @apply size-5 text-text;
        }
      }
    }
    .right-side {
      .body {
        @apply flex w-full;

        .content {
        }
      }

      .footer {
        @apply flex items-center gap-3 justify-between w-full mt-2;
      }
    }
  }

  .actions {
    @apply flex justify-center gap-4 relative items-center;

    .icon {
      position: absolute;
      bottom: -5px;
      left: 15px;
      transform: translate(-50%, -50%);
      @apply size-5 text-red-text transition-all cursor-pointer active:bottom-[-8px];
      opacity: 0;
      visibility: hidden;
    }
  }
  &:not(:last-child) {
    @apply mb-4;
  }

  &:first-child {
    @apply mt-2;
  }

  &:hover {
    .actions {
      .icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
