.button {
  @apply w-[150px] h-[36px] rounded-md  text-base text-center;

  background-image: linear-gradient(#268bff, hsl(252, 82, 57));
  transition: all 0.3s ease;

  &:hover {
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }
  &:active {
    transform: translateY(4px);
  }

  @keyframes pulse512 {
    0% {
      box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
      box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
      box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
  }
}
