.container {
  @apply grid;
  grid-template-columns: 1fr 300px;

  .chat {
    @apply pt-5 pr-3;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-areas:
      'header'
      'body'
      'footer';

    grid-template-rows: auto 1fr;
    .header {
      grid-area: header;
      @apply flex gap-2 text-text2  text-xl h-fit items-center  justify-center;
      .chat-icon {
        @apply size-6;
      }
    }

    .body {
      @apply px-5 flex items-end gap-5 w-full flex-col-reverse;
      grid-area: body;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        opacity: 0;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #222;
        border-radius: 5px;
      }

      .my-message,
      .message {
        .content {
          @apply bg-secondary px-3 py-2 rounded-xl max-w-[350px];
          .created-at {
            @apply block  pt-1 text-sm text-text2;
          }
        }
      }

      .my-message {
        @apply flex w-full justify-end;
        .content {
          @apply relative;
          .created-at {
            @apply text-right;
          }
        }
      }

      .message {
        @apply flex w-full justify-start items-start;
      }
    }
    .footer {
      grid-area: footer;
      @apply h-fit p-5;
    }
  }

  .chat-details {
    @apply pl-6 bg-secondary pt-3 flex flex-col;
    height: calc(100vh - 70px);

    .title {
      @apply text-xl text-center;
    }

    .members-block {
      @apply mt-[30px];
      .members-count {
        @apply text-gray font-bold mb-3;
        span {
          @apply text-text;
        }
      }

      .members {
        @apply flex flex-col gap-3 mt-3;
        .member {
          @apply flex items-center transition-all;
          .fullname {
            @apply font-medium text-base;
          }
          .avatar {
            @apply relative;
            .online {
              position: absolute;
              right: 5px;
              bottom: 0;
              @apply rounded-full bg-green-ligh2 w-[0.6rem] h-[0.6rem];
            }
          }
        }
      }
    }
    .media-list {
      @apply mt-10;
      .media-title {
        @apply text-gray font-bold;
        span {
          @apply text-text;
        }
      }

      .media {
        @apply grid grid-cols-4 mt-3;

        .item,
        .rest {
          @apply cursor-pointer rounded-lg w-[55px] h-[55px] overflow-hidden;
        }

        .item {
          .img {
            @apply rounded-lg w-full h-full;
          }
        }

        .rest {
          @apply bg-primary flex justify-center items-center;
          .rest-items-count {
            @apply text-sm;
          }
        }
      }
    }
  }
}
