.container {
  @apply grid;
  grid-template-columns: 1fr 300px;

  .chat {
    @apply pt-5;
    height: calc(100vh - 110px);
    display: grid;
    grid-template-areas:
      'header'
      'body'
      'footer';

    grid-template-rows: auto 1fr;
    .header {
      grid-area: header;

      @apply flex gap-2 text-text2  text-xl h-fit items-center  justify-center;
      .chat-icon {
        @apply size-6;
      }
    }

    .body {
      @apply px-5 flex items-end gap-5 w-full flex-col-reverse;

      grid-area: body;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        opacity: 0;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #222;
        border-radius: 5px;
      }

      .my-message,
      .message {
        .content {
          @apply bg-secondary px-3 py-2 rounded-xl max-w-[350px];
          .created-at {
            @apply block  pt-1 text-sm text-text2;
          }
        }
      }

      .my-message {
        @apply flex w-full justify-end;
        .content {
          @apply relative;
          .created-at {
            @apply text-right;
          }
        }
      }

      .message {
        @apply flex w-full justify-start items-start;
      }
    }
    .footer {
      grid-area: footer;
      @apply h-fit p-5;
    }
  }

  .chat-info {
    @apply pl-3 bg-secondary;
    height: calc(100vh - 70px);
  }
}
