.container {
  @apply grid;
  grid-template-columns: 1fr 300px;

  .chat {
    @apply border-2 border-solid border-border border-l-0 border-t-0 border-b-0 pt-5;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-areas:
      'header'
      'body'
      'footer';

    grid-template-rows: auto 1fr;
    .header {
      grid-area: header;

      @apply flex gap-2 text-text2  text-xl h-fit items-center  justify-center;
      .chat-icon {
        @apply size-6;
      }
    }

    .body {
      grid-area: body;
    }
    .footer {
      grid-area: footer;
      @apply h-fit p-5;
    }
  }

  .chat-info {
    @apply pl-3;
  }
}
