.window {
  @apply w-[500px] h-[400px] bg-secondary rounded-lg gap-5 p-4 flex items-center flex-col;

  .header,
  .content {
    @apply flex flex-col items-center text-center;
  }
  .header {
    .wrapper {
      @apply relative w-24 h-24 rounded-full bg-blue;
      .icon {
        @apply size-10 text-light-blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .title {
      @apply text-xl font-[500] mt-2;
    }
  }
  .content {
    .description {
      @apply max-w-[80%];
    }

    .form {
      @apply flex flex-col items-center gap-4 mt-3;
    }
  }

  .footer {
    margin-top: auto;
  }
}
