.sidebar {
  @apply w-[190px] bg-secondary fixed flex left-0 flex-col items-center;
  height: 100%;
  border-right: 2px solid rgb(55 55 55);
  transition: all 0.3s ease;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-border;
  }

  .iconPosition {
    @apply absolute right-3 top-3 text-menu-text size-4 cursor-pointer;
    transition: all 0.2s;
    z-index: 100;
    opacity: 0;
    visibility: hidden;

    &:active {
      @apply scale-90;
    }
  }

  &:hover {
    .iconPosition {
      opacity: 1;
      visibility: visible;
    }
  }

  .body {
    @apply h-full relative w-full;
    transition: all 0.3s ease;

    .items {
      @apply flex flex-col items-start gap-[15px] pt-[100px];
      height: 90%;
      transition: all 0.3s ease;
      width: 100%;
    }
  }

  &.hidden {
    width: 0;
    overflow: hidden;
    transform: translateX(-2px);
  }
}
