.sidebar {
  @apply w-[190px] bg-secondary fixed flex left-0 flex-col items-center;
  height: calc(100% - 70px);
  border-right: 2px solid rgb(55 55 55);
  transition: all 0.3s ease;

  .iconPosition {
    @apply absolute right-3 top-3 text-menu-text size-5 cursor-pointer;
    transition: all 0.2s;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    &:active {
      @apply scale-90;
    }
  }

  &:hover {
    .iconPosition {
      opacity: 1;
      visibility: visible;
    }
  }

  .body {
    @apply h-full relative;

    .header {
      @apply absolute top-8 left-5;
      user-select: none;
      .title {
        @apply text-2xl text-menu-text;
        transition: all 0.3s ease;
      }
    }
    .items {
      @apply flex flex-col items-start gap-[30px] pt-[100px];
      height: 90%;

      li {
        @apply flex items-start gap-3 relative w-full;

        .icon {
          @apply text-menu-text size-6;
          transition: all 0.2s ease;
        }

        a {
          @apply text-menu-text text-[18px] font-[500];
          transition: all 0.2s ease;
        }

        &:last-child {
          margin-top: auto;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-image: linear-gradient(#268bff, hsl(252, 82, 57));
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease;
        }

        &:hover::before {
          visibility: visible;
          opacity: 1;
        }

        &:hover {
          .icon {
            @apply text-blue;
          }
          a {
            @apply text-blue;
          }
        }
      }
    }
  }

  &.hidden {
    @apply w-[75px];

    .body {
      .header {
        .title {
          display: none;
        }
      }
      .items {
        li {
          @apply gap-0;
          .icon {
            @apply size-8 cursor-pointer;
          }

          a {
            display: none;
          }

          &::before {
            display: none;
          }

          &:hover {
            .icon {
              @apply text-blue;
            }
          }
        }
      }
    }
  }
}
