.card {
  @apply w-[385px] p-2 bg-secondary rounded-md flex flex-col cursor-pointer;
  aspect-ratio: 16/12;
  transition: all 0.3s ease;

  .no-image {
    @apply border-dashed relative flex items-center rounded-md justify-center border-border border-[2px];
    aspect-ratio: 16/8;

    .icon {
      @apply size-12 text-border transition-all;
    }

    .action {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .group {
        @apply flex flex-col items-center gap-2 transition-all;
        opacity: 0;
        visibility: hidden;
        .icon-action {
          @apply size-12 text-border;
        }
      }
    }

    &:hover {
      .icon {
        opacity: 0;
        visibility: hidden;
      }
      .action {
        .group {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .content {
    @apply flex flex-col pt-3 px-1 relative;

    .name {
      @apply text-xl text-text w-fit;

      &:hover {
        text-decoration: underline;
      }
    }

    .time {
      @apply text-text2 pt-3 text-sm flex items-center justify-between;

      .actions {
        @apply flex items-center gap-3 transition-all;
        opacity: 0;
        visibility: hidden;
        .icon,
        .delete {
          @apply size-5;

          &:active {
            @apply translate-y-[2px];
          }
        }

        .delete {
          @apply text-red-text;
        }
      }
    }
  }

  &:hover {
    -webkit-box-shadow: 0px 0px 15px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px -8px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px -8px rgba(66, 68, 90, 1);
    .content {
      .time {
        .actions {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.notOwner {
  @apply border border-dashed border-blue/50;
}
