.task {
  @apply flex flex-col py-3 px-4 gap-3 border-2 transition-all border-border bg-primary border-solid rounded-xl;

  transition: all 0.6s ease;
  .header {
    @apply flex justify-between items-center;
    .title {
      @apply text-[19px] cursor-pointer transition-all w-fit;

      &:hover {
        @apply underline;
      }
    }

    .actions {
      opacity: 0;
      visibility: hidden;
      @apply transition-all;

      .icon {
        @apply size-5 text-menu-text  transition-all;
      }

      .delete {
        @apply text-light-red cursor-pointer;
      }
    }
  }
  .task_info {
    @apply flex items-center gap-3;
  }

  .description {
    @apply text-menu-text inline-block text-[15px];
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &:hover {
    .header {
      .actions {
        opacity: 1;
        visibility: visible;
        @apply transition-all;

        .icon {
          @apply size-5;
        }

        .drag {
          @apply text-menu-text cursor-grab transition-all;

          &:hover {
            @apply text-text scale-105;
          }
        }

        .delete {
          &:hover {
            @apply text-red scale-105;
          }
        }
      }
    }
  }
}

.dragging {
  transform: perspective(1000px) rotateX(5deg) rotateY(-8deg) rotateZ(2deg)
    scale(0.95);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
}

.completed {
  @apply border-green opacity-75;

  .header {
    .title {
      @apply line-through;

      &:hover {
        @apply line-through;
      }
    }
  }
}
